/* FONT IMPORTS */

/* Header font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');



/* VARIABLES */

:root {
    --clr-main: hsl(256 26% 20%);
    --clr-main-dull: hsl(216 30% 68%);

    --clr-neutral-100: hsl(270 9% 17%);
    --clr-neutral-400: hsl(273 4% 51%);
    --clr-neutral-900: hsl(0 0% 98%);

    --fw-regular: 400;
    --fw-bold: 700;
}



/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font: inherit;
    font-size: 1rem;
    font-weight: var(--fw-regular);
}

body {
    line-height: 1.55;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    font-family: "Karla", serif;
    background-color: white;
    color: var(--clr-neutral-400);
}

img, picture, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    text-wrap: balance;
    font-family: "DM Serif Display", serif;
    color: var(--clr-neutral-100);
}

h1 {
    font-size: 4.5rem;
    line-height: 0.9;
}

h2 {
    font-size: 3.5rem;
    line-height: 0.9;
}

h3 {font-size: 1.7rem;}

p {text-wrap: pretty;}

@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}



/* COMPONENTS AND UTILITIES */

.flow {
    display: grid;
    justify-items: start;
    gap: var(--flow-space, 1.25rem);
}

.btn {
    height: fit-content;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--clr-neutral-900);
    border: 2px solid var(--clr-neutral-900);
    transition: color 0.3s ease, background-color 0.3s ease;

    &:is(:hover, :focus) {
        color: var(--clr-neutral-100);
        background-color: var(--clr-neutral-900);
    }
}

.wrapper {
    margin-inline: auto;
    max-width: 70rem;
}

.card-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    gap: 2rem;
}

.sr-only {
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;

    &:focus {
        clip-path: none;
        height: auto;
        width: auto;
    }
}

.pos-rel {position: relative;}



/* HEADER */

.header {
    position: sticky;
    top: -6rem;
    left: 0;
    z-index: 100;
    padding-inline: 1.5rem;
    height: 4.5rem;
    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: 120vh;
    animation-range-end: 150vh;
    
    .wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        
        .logo {
            flex-shrink: 0;
        }
    }
}

.header .header-nav .nav-list {
    list-style-type: none;
    height: 100%;
    display: flex;
    gap: 2rem;

    a {
        height: 100%;
        font-size: 0.8rem;
        font-weight: var(--fw-bold);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--clr-neutral-400);
        display: flex;
        align-items: center;
        transition: color 0.3s ease, background-color 0.3s ease;

        &:is(:hover, :focus) {
            color: var(--clr-neutral-100);
        }
    }

    li:has(.btn) {
        display: flex;
        align-items: center;
    }

    .btn {
        height: fit-content;
        display: var(--_display-none, block);
        color: var(--clr-neutral-100);
        border: 2px solid var(--clr-neutral-100);

        &:is(:hover, :focus) {
            color: var(--clr-neutral-900);
            background-color: var(--clr-neutral-100);
        }
    }
}

@keyframes stickyNav {
    0%, 100% {
        --_display-none: none;
        margin-inline: auto;
        width: fit-content;
        border-radius: 0.5rem;
        border: 1px solid hsl(0 0% 0% / 0.3);
        box-shadow: 0 7px 7px hsl(0 0% 0% / 0.2);
        background-color: hsl(55 10% 95% / 0.8);
        backdrop-filter: blur(10px);
    }
    100% {
        top: 1rem;
    }
}

.hamburger-btn {
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
    background-image: url(images/icon-hamburger.svg);
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 40rem) {

    .header {
        top: 0;
        animation: none;
        background-color: var(--clr-neutral-900);
    }

    .header .header-nav {
        display: none;
        position: fixed;
        inset: 4.5rem 0 0 0;
        background-image: url(images/bg-pattern-mobile-nav.svg) var(--clr-neutral-100);
        background-size: 100% auto;
        background-position: center bottom;
        background-repeat: no-repeat;

        &[data-visible] {display: block;}

        .nav-list {
            margin-top: 2rem;
            padding-inline: 1rem;
            height: fit-content;
            align-items: center;
            flex-direction: column;
            gap: 1.5rem;

            a {
                height: fit-content;
                color: var(--clr-neutral-900);

                &:is(:hover, :focus) {color: var(--clr-main-dull);}
            }

            .btn {
                color: var(--clr-neutral-900);
                border: 2px solid var(--clr-neutral-900);

                &:is(:hover, :focus) {
                    color: var(--clr-neutral-100);
                    background-color: var(--clr-neutral-900);
                }
            }
        }
    }

    .hamburger-btn {
        display: block;

        &:has(+ .header-nav[data-visible]) {
            background-image: url(images/icon-close.svg);
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    /* Class to disable scrolling while mobile nav is open */
    body.no-scroll {
        overflow: hidden;
    }
}



/* MAIN BG PATTERN */

main {
    position: relative;

    .main-bg-pattern {
        position: absolute;
        top: 25rem;
        left: 0;
        z-index: 100;
        width: 16rem;
        height: 40rem;
        background-image: url(/images/bg-pattern-intro-left-desktop.svg);
        background-size: auto 100%;
        background-position: 0px 0px;
        background-repeat: no-repeat;
    }
}



/* HERO SECTION */

.hero {
    padding-inline: 1.5rem;
    padding-block: 5rem;
    background-color: var(--clr-main);
    box-shadow: inset 0 -13rem 0 0 white;
    position: relative;

    .hero-bg-pattern {
        position: absolute;
        top: 0;
        right: 0;
        width: 30rem;
        height: 40rem;
        background-image: url(/images/bg-pattern-intro-right-desktop.svg);
        background-size: 100%;
        background-position: 0px -100px;
        background-repeat: no-repeat;
    }

    .wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 2rem;
    }

    .hero-content {
        --flow-space: 2rem;
        padding-top: 3rem;
        width: 100%;
        color: var(--clr-neutral-900);

        .hero-title {
            color: var(--clr-neutral-900);
            position: relative;
        }

        .hero-title::before {
            content: '';
            position: absolute;
            top: -3rem;
            width: 9rem;
            height: 1px;
            background-color: var(--clr-neutral-900);
        }

        p {
            max-width: 60ch;
        }
    }

    picture {
        flex-shrink: 0;
    }
}

@media (max-width: 62.5rem) {
    .hero {
        padding: 0;
        box-shadow: unset;

        .hero-bg-pattern {display: none;}

        .wrapper {
            flex-direction: column-reverse;
            gap: 0rem;
        }

        .hero-content {
            padding: 5rem 2rem;

            .hero-title::before {
                display: none;
            }
        }

        picture {
            margin-block: 3rem;
            width: 100%;
            justify-items: center;
        }
    }

    main .main-bg-pattern {
        position: absolute;
        top: 51rem;
        left: auto;
        right: 0;
        z-index: 100;
        width: 35vw;
        height: 40rem;
        background-image: url(/images/bg-pattern-intro-right-mobile.svg);
        background-size: 90% auto;
        background-position: top right;
        background-repeat: no-repeat;
    }

    .flow:not(.footer .nav-list) {
        text-align: center;
        justify-items: center;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 25rem) {
    .hero {

        .hero-content {
            background-image: url(/images/bg-pattern-intro-left-mobile.svg);
            background-repeat: no-repeat;
        }

        .wrapper picture {
            margin: 0;
        }
    }
}



/* MARKETING SECTION */

.marketing {
    --flow-space: 5rem;
    padding-inline: 1.5rem;
    padding-block: 13rem 10rem;

    .marketing-title {
        position: relative;
    }

    .marketing-title::before {
        content: '';
        position: absolute;
        top: -3rem;
        width: 9rem;
        height: 1px;
        background-color: var(--clr-neutral-100);
    }

    .marketing-card {
        --flow-space: 1rem;
    }
}

.cta {
    margin-top: 5rem;
    padding: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-main);
    background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
    background-size: auto 100%;
    background-position: top right;
    background-repeat: no-repeat;

    .cta-title {
        max-width: 20ch;
        color: var(--clr-neutral-900);
    }

    .btn {
        flex-shrink: 0;
    }
}

@media (max-width: 40rem) {
    .cta {background-image: url(/images/bg-pattern-how-we-work-mobile.svg);}
}

@media (max-width: 62.5rem) {
    .cta {
        padding: 5rem 2rem;
        flex-direction: column;
        gap: 3rem;
    }
}



/* FOOTER */

.footer {
    padding-block: 5rem;
    padding-inline: 1.5rem;
    background-color: var(--clr-neutral-900);
    background-image: url(/images/bg-pattern-footer-desktop.svg);
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;

    .logo-social {
        padding-bottom: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--clr-neutral-400);

        .socials {
            display: flex;
            gap: 1rem;
            
            svg {
                fill: var(--clr-neutral-400);
                transition: fill 0.3s ease;
            }

            & a:is(:hover, :focus) svg {fill: var(--clr-neutral-100);}
        }
    }
}

.footer-nav {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .nav-list {
        --flow-space: 0.5rem;
        list-style-type: none;
        align-content: start;
        
        & * {
            font-weight: var(--fw-bold);
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .nav-title {margin-bottom: 1rem;}

        a {
            text-decoration: none;
            color: var(--clr-neutral-100);

            &:is(:hover, :focus) {
                text-decoration-line: underline;
                text-underline-offset: 2px;
                text-decoration-thickness: 2px;
            }
        }
    }
}

@media (max-width: 40rem) {
    .footer {
        background-image: url(/images/bg-pattern-footer-mobile.svg);

        .logo-social {
            flex-direction: column;
            gap: 2rem;
        }

        .footer-nav {
            grid-template-columns: 1fr;
            gap: 1.5rem;
            
            .nav-list {
                justify-items: center;
            }
        }
    }
}